@import "setup";
@import "dice";

// *********************************
// START OF GENERAL STYLING
// *********************************

body {
    font-size: 1.4rem;
    background-color: rgb(190, 0, 38);
    font-family: "Open Sans", sans-serif;
}

score-sheet {
    h2, h3 {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        overflow-wrap: break-word;
    }
} 

.wrapper {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 50px;
}

.rules {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(226, 226, 226);
    width: 100%;
    height: 100vh;
    z-index: 4;
    padding: 50px;
    overflow: auto;
    &-hidden {
        display: none;
    }
    h2, h3 {
        margin: 15px 0;
    }
}

.show-rules {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
}

.scoring-rules-bottom {
    li {
        margin-top: 10px;
    }
}

.scoring-rules-name {
    text-decoration: underline;
}

// *********************************
// END OF GENERAL STYLING
// *********************************

// *********************************
// START OF HEADER STYLING
// *********************************

.logo {
    width: 25%;
    margin: 15px auto;
    display: block;
}

header {
    position: relative;
}

// *********************************
// END OF HEADER STYLING
// *********************************

// *********************************
// START OF SCORE SHEET STYLING
// *********************************

.score-sheet {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}

.score-section {
    flex: 0 1 calc(50% - 10px);
    justify-content: center;
    align-content: center;
    padding: 50px;
    background-color: rgb(226, 226, 226);
    display: grid;
    grid-template-columns: repeat(5, minmax(25px, 1fr));
    grid-template-rows: repeat(11, 50px);
    grid-gap: 5px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    & div {
        border: 2px solid black;
        box-shadow: 3px 3px 3px rgb(0, 0, 0);
    }
}

div.section-header {
    grid-column: span 5;
    font-size: 2.5rem;
    align-self: center;
    padding: 10px;
    background-color: rgb(226, 226, 226);
}

.score-label {
    grid-column: 1 / span 1;
    font-weight: 600;
    background-color: rgb(253, 169, 136);
    padding: 3px 0 0 3px;
}

.score-info {
    grid-column: 2 / span 2;
    padding: 3px 0 0 3px;
    font-size: 1.3rem;
}

.score-box {
    grid-column: 4 / span 2;
    background-color: rgb(141, 196, 247);
    color: rgb(226, 226, 226);
    text-align: center;
    font-size: 2.2rem;
    padding: 0;
    &.marked {
        background-color: rgb(36, 36, 36);
        color: rgb(255, 255, 255);
    }
}

.roll {
    text-align: center;
    position: relative;
    padding: 0;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
    background-color: rgb(253, 169, 136);
    &:hover {
        background-color: rgb(255, 99, 71);
        color: rgb(226, 226, 226);
    }
    &-hidden {
        display: none;
    }
    h2 {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        overflow-wrap: break-word;
    }
}

div.dice {
    grid-row: -3;
    grid-column: span 1;
    grid-row: span 2;
    border: none;
    box-shadow: none;
    text-align: center;
    font-size: 2.2rem;
    background-color: transparent;
    display: inline-block;
    min-height: 1em;
    background-size: 2.5em;
    background-repeat: no-repeat;
    background-position: center;
}

div.saved {
    background-color: rgb(253, 169, 136);
}

.top-total-score, .bonus-score, .bottom-total-score, .total-score-score {
    color: rgb(36, 36, 36);
}

.reset {
    grid-column: 2;
    text-align: center;
    background-color: rgb(255, 99, 71);
    color: rgb(226, 226, 226);
    padding: 0;
    &-hidden {
        display: none;
    }
}

.rolls {
    grid-column: 4;
}

.turns {
    grid-column: 5;
}

.rolls, .turns {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    background-color: rgb(226, 226, 226);
}

// *********************************
// END OF SCORE SHEET STYLING
// *********************************

// *********************************
// START OF FOOTER STYLING
// *********************************

.footer-text {
    text-align: center;
    margin-top: 15px;
    color: rgb(226, 226, 226);
}

// *********************************
// END OF FOOTER STYLING
// *********************************

// *********************************
// START OF MEDIA QUERIES STYLING
// *********************************

@media (max-width: 1000px) {
    .wrapper {
        padding: 0;
    }

    .score-sheet {
        border-radius: 0;
        padding: 0 10px;
    }

    .score-info {
        display: none;
    }

    .score-label {
        grid-column: span 2;
    }

    .score-box {
        grid-column: span 3;
    }

    div.dice {
        background-size: 2em;
    }

    .roll, .reset {
        grid-column: 1 / 3;
    }
}

@media (max-width: 775px) {
    .score-section {
        padding: 0px;
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        flex-basis: 50%;
        &:first-child {
            margin-right: 10px;
        }
    }
}

@media (max-width: 575px) {
    .score-section {
        grid-template-rows: repeat(11, 35px);
    }

    .score-box {
        font-size: 1.6rem;
    }

    div.section-header {
        font-size: 1.6rem;
    }

    .score-label {
        font-size: 1.2rem;
    }

    .roll, .rolls, .turns, .reset {
        font-size: 1.2rem;
    }

    div.dice {
        background-size: 1.3em;
        grid-row: span 1;
    }

    div.dice-0 {
        grid-row: 10;
        grid-column: 1;
    }

    div.dice-1 {
        grid-row: 10;
        grid-column: 3;
    }

    div.dice-2 {
        grid-row: 10;
        grid-column: 5;
    }

    div.dice-3 {
        grid-row: 11;
        grid-column: 2;
    }

    div.dice-4 {
        grid-row: 11;
        grid-column: 4;
    }
}

// *********************************
// END OF MEDIA QUERIES STYLING
// *********************************